## Outputting to Excel with Templates
### Getting Started
Exercises requires chainladder v0.6.1 and later

In [1]:
import chainladder as cl
cl.__version__

'0.7.8'

.. note::
   Excel templating is a very new feature so the template library is sparse.  This tutorial introduces the concept of templating. Expect more templates soon.

### Excel Templates
`chainladder` relies on the `xlcompose` library to produce rich spreadsheet outputs. These are accessed by calling on `cl.load_template` which is similar to how we load sample data with `cl.load_sample`.  A template is a YAML file that specifies the layout of an Excel file.  Anyone can write a custom template and pass it to the `cl.load_template` function.  You can view the template files included with `chainladder` [here](https://github.com/casact/chainladder-python/blob/master/chainladder/utils/templates).  To make your own custom templates it is worth reading the [xlcompose templating docs](https://xlcompose.readthedocs.io/en/latest/templating.html).

In [2]:
triangle=cl.load_sample('usauto')['incurred']
triangle

             12          24          36          48          60          72          84          96          108         120
1998  37017487.0  43169009.0  45568919.0  46784558.0  47337318.0  47533264.0  47634419.0  47689655.0  47724678.0  47742304.0
1999  38954484.0  46045718.0  48882924.0  50219672.0  50729292.0  50926779.0  51069285.0  51163540.0  51185767.0         NaN
2000  41155776.0  49371478.0  52358476.0  53780322.0  54303086.0  54582950.0  54742188.0  54837929.0         NaN         NaN
2001  42394069.0  50584112.0  53704296.0  55150118.0  55895583.0  56156727.0  56299562.0         NaN         NaN         NaN
2002  44755243.0  52971643.0  56102312.0  57703851.0  58363564.0  58592712.0         NaN         NaN         NaN         NaN
2003  45163102.0  52497731.0  55468551.0  57015411.0  57565344.0         NaN         NaN         NaN         NaN         NaN
2004  45417309.0  52640322.0  55553673.0  56976657.0         NaN         NaN         NaN         NaN         NaN         NaN
2005  46360869.0  53790061.0  56786410.0         NaN         NaN         NaN         NaN         NaN         NaN         NaN
2006  46582684.0  54641339.0         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN
2007  48853563.0         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN

`load_template` will generate an Excel template object to which you can pass data.  We will be using the 'triangle' template which requires (at a minimum) a `Triangle` object that is a single index/column representation.

.. note::
   Excel files do not render as notebooks. The Excel files generated by these examples have been included as images for the purposes of the tutorial only.  You will have to jump into Excel to view your own output.

In this example, our template is given one object, out `Triangle`.  From the one Triangle, we can infer a lot of information that we can represent in our exhibit.

In [3]:
cl.load_template('triangle', triangle=triangle).to_excel('example.xlsx')

![](https://raw.githubusercontent.com/casact/chainladder-python/master/docs/tutorials/ex1.PNG)

Note also that loading the template creates an `xlcompose` object, but it does not actually create an Excel file.  To do that, you must call the `to_excel` method on the object.

If we transform our triangle by a `Development` estimator, let's see how the same template acknowledges this additional information.

In [4]:
cl.load_template(
    template='triangle',
    triangle=cl.Development().fit_transform(triangle)
).to_excel('example.xlsx')

![](https://raw.githubusercontent.com/casact/chainladder-python/master/docs/tutorials/ex2.PNG)

Anyone can examine the YAML template to see what options are available.  Let's explore all available options in out 'triangle' template.

In [5]:
cl.load_template(
    template='triangle',
    triangle=cl.Development().fit_transform(triangle),
    scenarios={'Simple (All)': cl.Development(average='simple'),
               'Volume (All)': cl.Development(),
               'Volume (5Yr)': cl.Development(n_periods=5),
               'Volume (3Yr)': cl.Development(n_periods=3)},
    triangle_name = 'US Auto Industry',
    sheet_name='US Auto',
    set_header=['&RExhbit 1', 'Sheet 1'],
    index_label='Accident Year'
).to_excel('example.xlsx')

![](https://raw.githubusercontent.com/casact/chainladder-python/master/docs/tutorials/ex3.PNG)

By using `xlcompose` for rendering spreadsheets, you do not need to concern yourself with the shapes of your triangles.  The Excel template dynamically resizes to smaller or larger triangles.  Let's try the same template on a smaller triangle.

In [6]:
triangle = cl.load_sample('ukmotor')

In [7]:
cl.load_template(
    template='triangle',
    triangle=cl.Development(average=['volume']*3+['simple']*3).fit_transform(triangle),
    scenarios={'Simple (All)': cl.Development(average='simple'),
               'Volume (All)': cl.Development(),
               'Volume (5Yr)': cl.Development(n_periods=5),
               'Volume (3Yr)': cl.Development(n_periods=3)},
    triangle_name = 'UK Motor',
    sheet_name='Motor',
    set_header=['&RExhbit 1', 'Sheet 1'],
    index_label='Accident Year'
).to_excel('example.xlsx')

![](https://raw.githubusercontent.com/casact/chainladder-python/master/docs/tutorials/ex4.PNG)